<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SkippedCalendars" value="#contacts@group.v.calendar.google.com,en.usa#holiday@group.v.calendar.google.com"/>
    <add key="Calendars" value="Bishopric Schedule,Bishop Schedule,First Counselor Schedule,Second Counselor Schedule"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>